@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --dark-sat-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --gray-blue-900: hsl(237, 12%, 33%);
  --gray-blue-800: hsl(240, 6%, 50%);
  --gray-blue-700: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.card {
  width: 327px;
  margin: 148px 24px 0px 24px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.header-img {
  position: absolute;
  z-index: 10;
  top: -108px;
  left: calc((327px / 2) - (237px / 2));
  width: 237px;
  height: 180px;
}

.dropdown-list {
  padding: 132px 24px 48px 24px;
}

.dropdown-list h1 {
  text-align: center;
  margin-bottom: 38px;
  font-size: 32px;
  font-weight: 700;
}

.dropdown {
  border-bottom: var(--gray-blue-700) 1px solid;
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.dropdown-menu img {
  height: 100%;
  width: auto;
}

.dropdown-menu button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.header {
  color: var(--gray-blue-800);
  font-size: 14px;
}

.content {
  display: none;
  margin: 12px 0;
  color: var(--gray-blue-800);
}
